#acc {
	list-style: none;
	color: #000;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 40px;
	margin-left: auto;
	padding: 0px;
}
#acc h3 {
	cursor: pointer;
	background-image: url(../images/fondo-titulos.jpg);
	background-repeat: repeat-x;
	color: #4F4F4F;
	font-family: "Arial Black", Gadget, sans-serif;
	padding: 10px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright: 6px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 1px solid #999;
	font-size: 14px;
	margin: 0px;
}
#acc h3:hover {
	background-image: url(../images/fondo-titulos_hoover.jpg);
	background-repeat: repeat-x;
	color: #666666;
	background-color: #FFF;
}
#acc .acc-section {overflow:hidden; background:#fff}
#acc .acc-content {
	padding: 10px;
	text-align: center;
	background-image: url(../images/fondo_div_contenedora.jpg);
	background-repeat: repeat-x;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}

#nested {
	list-style: none;
	color: #033;
	margin-bottom: 15px
}
#nested h3 {width:411px; border:1px solid #9ac1c9; padding:6px 6px 8px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(images/header.gif)}
#nested h3:hover {background:url(images/header_over.gif)}
#nested .acc-section {overflow:hidden; background:#fff}
#nested .acc-content {width:393px; padding:15px; border:1px solid #9ac1c9; border-top:none; background:#fff}
#nested .acc-selected {background:url(images/header_over.gif)}
